<div class="container screen">
	<div class="row">
		<div class="col-md-12">
			<div class="ask-form">
				<h1 class="text-center"><b>Stupid Coaching</b></h1>
				<form class="text-center" action="/answer" method="get" data-turbo="false">
					<input type="text" name="answer">
					<input type="submit" value="Ask!">
				</form>
			</div>
		</div>
	</div>
</div>
